fastapi
uvicorn
slowapi
python-dotenv
prisma
python-jose[cryptography]
passlib[bcrypt]
bcrypt
cloudinary
clarifai-grpc
beautifulsoup4
lxml
pytesseract
Pillow
httpx
huggingface_hub
pydantic
python-multipart
